<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NetflixLight</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body class="min-h-screen bg-gradient-to-br from-slate-950 via-slate-700 to-slate-950 text-white antialiased font-sans">
    <header class="container mx-auto px-6 py-8">
        <div class="text-center mb-10">
            <h1 class="text-5xl md:text-6xl font-extrabold mb-4">
                <span class="text-transparent bg-clip-text bg-gradient-to-r from-red-900 to-red-700 text-6xl md:text-7xl" style="-webkit-text-stroke: 0.5px #fff;">N</span><span class="text-transparent bg-clip-text text-white" style="-webkit-text-stroke: 0.5px #fff;">etflix<span class="text-transparent bg-clip-text bg-gradient-to-r from-red-900 to-red-700 text-6xl md:text-7xl" style="-webkit-text-stroke: 0.5px #fff;">L</span><span class="text-transparent bg-clip-text text-white" style="-webkit-text-stroke: 0.5px #fff;">ight</span>
            </h1>
        </div>

        <nav class="bg-white/10 backdrop-blur-md border border-white/20 rounded-2xl p-4 shadow-xl max-w-6xl mx-auto">
    <div class="flex items-center w-full">
        
        <ul class="flex space-x-2 md:space-x-4">
            <li><a href="#/" data-link class="px-4 py-2 hover:bg-white/10 text-white font-semibold rounded-lg transition duration-200">Home</a></li>
            <li><a href="#/films" data-link class="px-4 py-2 hover:bg-white/10 text-white font-semibold rounded-lg transition duration-200">Films</a></li>
            <li><a href="#/favorites" data-link class="px-4 py-2 hover:bg-white/10 text-white font-semibold rounded-lg transition duration-200">My Favorite</a></li>
            <li><a href="#/login" data-link class="px-4 py-2 hover:bg-white/10 text-white font-semibold rounded-lg transition duration-200">Login</a></li>
        </ul>

            <div id="search-container" class="hidden ml-auto relative w-48 md:w-64">
                <input 
                    type="text" 
                    id="search-input" 
                    placeholder="Search..." 
                    class="w-full bg-slate-900/50 border border-white/20 text-white rounded-lg pl-4 pr-10 py-2 focus:outline-none focus:border-red-500 transition duration-300 placeholder-gray-400 text-sm">
                    <svg class="absolute right-3 top-2.5 w-4 h-4 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                    </svg>
            </div>
        </div>
    </nav>
    </header>

    <main id="app-content"></main>

    <script src="../js/films.js"></script>
    <script src="../js/router.js"></script>
    <script src="../js/details.js"></script>
    <script src="../js/favorites.js"></script>
</body>
</html>